@use "vars" as *;
@use "mixins" as *;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: $color-site-background;
  font-family: $font-body;
}

.grid-row {
  @include row;
}

a {
  color: $color-gray-dark;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 2;

  span {
    border-bottom: 2px solid $color-gray-dark;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      left: 0;
      top: 0;
      width: 0;
      position: absolute;
      transition: all 0.4s ease 0s;
      z-index: -1;
    }

    &:hover {
      color: $color-gray-dark;
      transition: all 0.4s ease-in-out 0s;
    }
  }

  &:hover span::after {
    width: 100%;
    transition: all 0.3s ease 0s;
  }

  &:visited,
  &:active {
    color: $color-gray-dark;
  }
}

p,
li,
h4,
h5,
h6 {
  line-height: 1.4;
  max-width: 80ex;
}

p,
a,
ul li {
  @include font-size-md;
  font-family: $font-body;
}

ul {
  padding-left: $spacing-unit-3;

  li {
    padding-block: $spacing-unit-05;
  }
}

strong {
  font-weight: 600;
}

h2 {
  @include font-size-xl;
}

h3 {
  @include font-size-lg;
  color: $color-blue-darker;
  font-family: $font-subheadline;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  color: $color-blue-darker;
  font-family: $font-subheadline;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
}

.font-size-xl {
  @include font-size-xl;
}

.font-size-2xl {
  @include font-size-2xl;
}

.font-size-3xl {
  @include font-size-3xl;
}

.button {
  @include button;
}

.unstyled-list {
  @include unstyled-list;
}
