@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rammetto+One&display=swap");

$color-red: #e82822;
$color-yellow: #ffbb32;

$color-base-dark: #1a1b37;
$color-accent-light: #fbd59f;

// fonts
$font-headline: "Rammetto One", sans-serif;
$font-subheadline: "Bricolage Grotesque", sans-serif;

// spacing
$spacing-unit: 8px;
