@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
// breakpoints
$breakpoint-mobile-sm: 400px;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-lg: 1500px;
$breakpoint-widescreen: 1800px;
$breakpoint-widescreen-lg: 2100px;

// colors
$color-blue-medium: #383b85;
$color-blue-dark: #1a1b37;
$color-red: #e82822;
$color-yellow: #ffbb32;
$color-yellow-light: #F4DFB8;
$color-yellow-xlight: #F6F1D8;
$color-gray: #424242;
$color-gray-dark: #1b1b1b;
$color-gray-medium: #686765;
$color-gray-light: #070605;
$color-gray-xlight: #faf7f5;
$color-gray-warm-light: #F8F8F2;
$color-white: #fff;

// font types
$font-headline: "Unbounded", sans-serif;
$font-subheadline: "Bricolage Grotesque", sans-serif;
$font-body: "Noto Sans", sans-serif;

// font size
$font-size-base: 16px;

// spacing
$spacing-unit: 8px;
$spacing-unit-05: calc(#{$spacing-unit} * 0.5);
$spacing-unit-1: calc(#{$spacing-unit} * 1);
$spacing-unit-105: calc(#{$spacing-unit} * 1.5);
$spacing-unit-2: calc(#{$spacing-unit} * 2);
$spacing-unit-3: calc(#{$spacing-unit} * 3);
$spacing-unit-4: calc(#{$spacing-unit} * 4);
$spacing-unit-5: calc(#{$spacing-unit} * 5);
$spacing-unit-6: calc(#{$spacing-unit} * 6);
$spacing-unit-7: calc(#{$spacing-unit} * 7);
$spacing-unit-8: calc(#{$spacing-unit} * 8);
