@use "normalize";
@use "vars" as *;
@use "mixins" as *;
@forward "base";

$spacing-vertical-section: $spacing-unit-8;
$spacing-vertical-section-small: $spacing-unit-6;
$spacing-vertical-section-large: $spacing-unit-12;
$spacing-horizontal-section: $spacing-unit-6;
$spacing-horizontal-section-small: $spacing-unit-4;

.highlight-section {
  @include grid(12, 0);
  @include row;
  margin-block: $spacing-vertical-section;

  > h2 {
    grid-column: 2 / 11;
    margin-bottom: $spacing-unit-2;
    margin-top: 0;
    padding-bottom: $spacing-unit-2;
    padding-left: $spacing-horizontal-section;
    padding-top: $spacing-vertical-section;

    @media screen and (min-width: $breakpoint-tablet) {
      grid-column: 3 / 9;
      padding-top: $spacing-vertical-section-large;
    }
  }

  // creates
  .background-offset {
    background: $color-site-background;

    &:last-child {
      height: $spacing-vertical-section-large;
    }
  }

  ul {
    @include unstyled-list;
    grid-column: 4/10;
    margin-block: $spacing-vertical-section-small;

    li {
      padding-block: $spacing-unit-2;
    }
  }
}

.right-section {
  background: $color-gray-warm-light;

  .background-offset {
    grid-column: 1/2;
  }

  .list-wrapper {
    @include grid(11, 0);
    border: 1px solid $color-gray-medium;
    border-left: none;
    grid-column: 1/12;
  }

  ul {
    grid-column: 3/11;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    .list-wrapper {
      @include grid(10, 0);
      grid-column: 1/11;
    }

    ul {
      grid-column: 4/10;
    }
  }
}

.left-section {
  background: $color-blue-darker;

  h2 {
    color: $color-yellow-light;
  }

  .background-offset {
    grid-column: 12/13;
  }

  .list-wrapper {
    @include grid(11, 0);
    border: 1px solid $color-yellow-light;
    border-right: none;
    grid-column: 2/13;

    .background-offset {
      grid-column: 11/12;
      height: 100%;
    }
  }

  ul {
    grid-column: 2/10;

    li {
      color: $color-gray-warm-light;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    .list-wrapper {
      @include grid(10, 0);
      grid-column: 3/13;

      .background-offset {
        grid-column: 10/12;
        height: 100%;
      }
    }

    ul {
      grid-column: 2/8;
    }

    .background-offset {
      grid-column: 12/13;
      height: 100%;
    }
  }
}

#intro-screen {
  @include grid(12,0);
  background: $color-site-background;

  .grid-column {
    @include subgrid(12);

    > * {
      @include subgrid(12);
    }

    > * > * {
      grid-column: 2/12;
    }
  }


    header {
      background: $color-blue-darker;
      border-bottom: $spacing-unit-2 solid $color-red;

      height: 60vh;
      justify-content: center;
      align-items: center;
  
      h1 {
        margin-block: 0;
      }

      
      
    }

  .grid-column:nth-of-type(2) {
    // wrappoer for intro text and in-page nav
    > div {
      margin-block: $spacing-vertical-section-small;
    }

    nav ul {
      list-style: none;
      margin-block: 0;
      padding-left: 0;
      position: relative;

      li {
        padding-block: $spacing-unit-1;
      }

      a {
        padding-block: $spacing-unit-1 0;
        padding-inline: $spacing-unit-4 $spacing-unit-2;

        &::before {
          content: "\2193";
          left: $spacing-unit-1;
          position: absolute;
        }

        &:hover span::after {
          background: $color-gray-warm;
        }
      }
    }

    section[aria-label="find me on the web"] {
      align-items: center;
      background: $color-yellow-light;
      border-bottom: $spacing-unit-105 solid $color-blue-medium;

      ul {
        @include unstyled-list;
        padding-block: $spacing-unit-3;

        li {
          padding-block: $spacing-unit-1;
        }

        a {
          align-items: center;
          display: flex;
          font-weight: 500;
          margin-right: $spacing-unit-6;
        }

        img {
          margin-right: $spacing-unit-2;
          width: $spacing-unit-5;
        }
      }
    }
  }
  @media screen and (min-width: $breakpoint-tablet) {
    .grid-column:nth-of-type(2) {
      section[aria-label="find me on the web"] {
        ul {
          align-items: center;
          display: flex;

          img {
            width: $spacing-unit-6;
          }
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
      .grid-column {
        @include subgrid(6);

        > *,
        > * > *  {
          grid-column: span 6;
        }
      }

    .grid-column:nth-of-type(1) {
      header {
        border: none;
        height: 100vh;
        padding-bottom: 128px;
        text-align: right;
        padding-inline: $spacing-vertical-section $spacing-vertical-section-small;
      }
    }

    .grid-column:nth-of-type(2) {
      grid-template-rows: 1fr 128px;

      > * {
        margin-block: 0;
      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        padding-top: $spacing-vertical-section-small;
        padding-inline: $spacing-vertical-section-small $spacing-vertical-section;
      }

      section[aria-label="find me on the web"] {
        align-items: center;
        border-bottom: $spacing-unit-4 solid $color-red;
        display: flex;

        ul {
          padding-left: $spacing-vertical-section-small;
        }
      }
    }
  }

  @media screen and (max-height: 600px) {
    .grid-column:nth-of-type(1) {
      header {
        padding-bottom: 0;
      }
    }
  }
}

// footer
#contact {
  background: $color-gray-warm-light;
  padding-bottom: $spacing-vertical-section-large;
  margin-block: 0;

  ul {
    @include unstyled-list;
    border-left: 1px solid $color-gray-medium;
    display: flex;
    flex-direction: column;
    grid-column: 3/9;
    padding-left: $spacing-horizontal-section-small;

    li {
      padding-block: $spacing-unit-1;
    }
  }

  a {
    @include button($color-blue-medium, $color-white);
    margin-inline: $spacing-unit;

    &:first-of-type {
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    h2 {
      grid-column: 3/11;
    }

    ul {
      border: none;
      flex-direction: row;
      flex-wrap: wrap;
      grid-column: 3/12;
      padding-left: $spacing-horizontal-section;
    }
  }
}
