@use "normalize";
@use "vars" as *;
@use "mixins";

$spacing-vertical-section: $spacing-unit-8;

@mixin grid($col-count: 12, $col-gap: 1) {
  display: grid;
  grid-template-columns: repeat($col-count, 1fr);
  grid-column-gap: $spacing-unit * $col-gap;
}

@mixin row {
  grid-column: 1 / 13;
}

@mixin banner-base {
  font-family: $font-subheadline;
  margin-block: 0;
  padding-block: $spacing-unit-1;
  padding-inline: $spacing-unit-2;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.125rem;
    padding-block: $spacing-unit-2;
    padding-inline: $spacing-unit-4;
  }
}

@mixin font-size-lg (
  $font-color: $color-blue-dark,
  $font-size: 1.25rem
){
  color: $font-color;
  font-family: $font-subheadline;
  font-size: $font-size;
  font-weight: 200;
  line-height: 1.3;
}

@mixin font-size-xl (
  $font-color: $color-blue-dark,
  $font-size: 1.75rem
){
  color: $font-color;
  font-family: $font-subheadline;
  font-size: $font-size;
  font-weight: 200;
  line-height: 1.3;
}

@mixin font-size-2xl(
  $shadow-color: $color-blue-dark,
  $shadow-size: 6px,
  $font-color: $color-yellow-light,
  $font-size: 5vw
) {
  color: $font-color;
  font-family: $font-headline;
  font-size: $font-size;
  margin-block: $spacing-unit;
  text-shadow: $shadow-color $shadow-size $shadow-size;
}

@mixin font-size-3xl(
  $shadow-color: $color-red,
  $shadow-size: 6px,
  $font-color: $color-yellow-light,
  $font-size: 8vw
) {
  text-shadow: $shadow-color $shadow-size $shadow-size;
  font-family: $font-headline;
  font-size: $font-size;
  color: $font-color;
  grid-column: 2 / 12;


  @media (max-width: $breakpoint-tablet) {
    font-size: 3rem;
    text-shadow:  $shadow-color $shadow-size / 2 $shadow-size / 2;
  }

  @media (min-width: $breakpoint-mobile) {
    font-size: 8.5vw;
  }

  @media (max-height: $breakpoint-mobile) and (min-width: $breakpoint-tablet) {
    font-size: 7.5vw;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 8vw;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 7vw;
    grid-column: 3 / 11;
  }

  @media (max-height: $breakpoint-mobile) and (min-width: $breakpoint-desktop) {
    font-size: 6vw;
  }
}

@mixin button($text-color: white, $background-color: $color-blue-medium) {
  @include banner-base;
  color: $text-color;
  background-color: $background-color;
  text-decoration: none;
}

@mixin shadow-box {
  border: 1px solid $color-gray;
  box-shadow: $color-gray 6px 6px;
  padding: $spacing-unit-4;
}

@mixin unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none
}

html {
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

body {
  background: $color-gray-light;
}


.grid-container {
  @include grid;
}

.grid-row {
  @include row;
}

// sticky banner
section[aria-label="page title"] {
  @include row;
  @include grid;
  position: absolute;
}

//hero
section[aria-label="hero"] {
  @include grid;
  @include row;
  align-items: center;
  background: $color-blue-dark;
  height: 60vh;
  min-height: 400px;

  @media (min-width: $breakpoint-tablet) {
    height: 75vh;
    min-height: 500px;
  }

  @media (min-width: $breakpoint-desktop) {
    height: 85vh;
  }
}

// summary banner
section[aria-label="personal summary"] {
  @include row;
  display: flex;
  justify-content: center;
}

// job experience
section[aria-label="career highlights"] {
  @include row;
  @include grid;
  margin-block: $spacing-vertical-section;
}

// connecting practice areas
section[aria-label="breaking down silos"] {
  @include row;
  @include grid;
}

section[aria-label="contact"] {
  @include row;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  ul {
    @include unstyled-list;
    display: flex;
    justify-content: center;
    margin-top: $spacing-unit-2;
    margin-bottom: $spacing-vertical-section;
  }

  a {
    margin-inline: $spacing-unit;
  }
}

// full resume
section[aria-label="resume"] {
  @include row;
  @include grid;

  background: $color-red;
  margin-top: $spacing-vertical-section;

  & > div {
    @include grid(10,3);
    @include shadow-box();
    background: white;
    grid-column: 3/11;
    margin-top: $spacing-vertical-section;
    padding: $spacing-vertical-section;

    article {
      @include shadow-box;
      @include row;
      margin-bottom: $spacing-unit-4;
    }
  }

  h2, h3 {
    @include row;
  }

  h3 {
    @include font-size-lg;
  }

  h2, h3, h4 {
    margin-top: 0;
  }

  // .sidebar-left {
  //   grid-column: 1/4;
  // }

  .main-content {

  }
}

section > h2 {
  margin-top: $spacing-vertical-section;
  margin-bottom: $spacing-unit-2;
}

section > * {
  grid-column: 2 / 1;

  @media (min-width: $breakpoint-tablet) {
    grid-column: 3 / 11;
  }
}

.sticky-banner {
  @include banner-base;
  background: $color-red;
  box-shadow: 3px 3px $color-gray;
  grid-column: 1 / 13;
  line-height: 1.2;
  margin-right: $spacing-unit-2;
  top: 0;
  z-index: 1;
}

@media (min-width: $breakpoint-desktop) {
  .sticky-banner {
    grid-column: 1 / 2;
  }
}

p,
li,
h4,
h5,
h6{
  max-width: 80ch;
}

h1,
h2,
h3 {
  max-width: 44ch;
}

p,
ul li {
  line-height: 1.4;
  max-width: 80ch;
}

ul {
  padding-left: $spacing-unit-3;
}

ul li {
  padding-block: $spacing-unit-05;
}

h1 {
  @include font-size-3xl;
}

h2 {
  @include font-size-xl;
}

h3 {
  color: $color-blue-dark;
  font-family: $font-subheadline;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  color: $color-blue-dark;
  font-family: $font-subheadline;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
}

.font-size-xl {
  @include font-size-xl;
}

.font-size-2xl {
  @include font-size-2xl;
}

.font-size-3xl {
  @include font-size-3xl;
}

.button {
  @include button;
}



$summary-padding-y: $spacing-unit * 1.5;
$summary-font-size: 1.125rem;
.summary-banner {
  @include banner-base;
  background: $color-yellow;
  box-shadow: 3px 3px $color-gray-light;
  display: inline;
  padding-block: $summary-padding-y;
  text-align: center;

  @media (min-width: $breakpoint-mobile) {
    font-size: $summary-font-size;
    margin-top: calc(-#{$summary-padding-y} - (#{$summary-font-size} / 2));
  }
}

.job-card {
  @include grid(12);
  background: white;
  margin-top: $spacing-unit-2;
  margin-bottom: $spacing-vertical-section;
  padding-block: $spacing-vertical-section;

  &__tag {
    background: $color-blue-medium;
    color: $color-gray-light;
    display: inline-block;
    padding: $spacing-unit-05 $spacing-unit-2;
  }

  &__body {
    & > * {
      margin-block: $spacing-unit;
    }
  }

  &__image {
    display: none;
    width: 100%;
  }

  & > * {
    grid-column: 2/12;
  }

  &--one-item {
    @include row;
    box-shadow: 10px 10px $color-yellow-light;

    @media (max-width: $breakpoint-tablet) {
      .job-card__body {
        @include shadow-box;
      }
    }
  }

  &--two-items {
    @include row;
    box-shadow: -10px 10px $color-yellow-light;

    .job-card__body div {
      @include shadow-box;

      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    @include grid(11);

    &__image {
      display: block;
    }

    &:nth-of-type(1) {
      box-shadow: 10px 10px $color-yellow-light;
      grid-column: 1 / 12;
      z-index: 1;

      .job-card__image {
        grid-column: 3 / span 3;
      }

      .job-card__body {
        grid-column: 6 / span 5;
        padding-left: $spacing-unit-4;
      }
    }

    &:nth-of-type(2) {
      box-shadow: -10px 10px $color-yellow-light;
      grid-column: 2 / 13;

      .job-card__headline {
        grid-column: 2/10;

        h3 {
          margin-top: 0;
          margin-bottom: $spacing-unit;
        }
      }

      .job-card__headline,
      .job-card__subheadline {
        margin-block: $spacing-unit;
      }

      .job-card__body {
        @include grid(11, 3);
        @include row;
      }

      &:nth-of-type(2) {
        .job-card__body div {
          &:first-of-type {
            grid-column: 2 / span 4;
          }

          &:nth-of-type(2) {
            grid-column: 6 / span 4;
          }
        }
      }

    }
  }
}

.resume-link {
  @include row;
  margin-block: $spacing-unit-4;
  display: flex;
  justify-content: center;
}

.practice-area {
  background: white;

  ul {
    padding-left: 0;
    margin: 0;
  }

  li {
    align-items: center;
    color: $color-blue-dark;
    display: inline-flex;
    font-family: $font-headline;
    font-size: 2.25rem;
    list-style: none;
    padding-bottom: 0;
  }

  li img {
    height: $spacing-unit-7;
    margin-inline: $spacing-unit;
  }

  & > * {
    padding-block: $spacing-vertical-section;
  }

  & > *:first-child {
    @include grid;
    @include row;
    background: $color-red;

    & > * {
      grid-column: 2/12;
    }
  }

  & > *:nth-child(2) {
    align-items: center;
    background: white;
    display: flex;
    grid-column: 2 / span 10;

    @media (min-width: $breakpoint-tablet) {
      grid-column: 7 / span 4;
    }
  }

  // @media (min-width: $breakpoint-tablet) {
  //   li {
  //     display: list-item;
  //     padding-left: $spacing-unit-4;
  //   }

  //   li img {
  //     display: block;
  //   }

  //   & > *:first-child {
  //     @include grid(6);
  //     grid-column: 1 / span 6;
  //     text-align: right;

  //     & > * {
  //       grid-column: 2 / span 6;
  //       padding-right: $spacing-unit-4;
  //     }
  //   }

  //   & > *:nth-child(2) {
  //     grid-column: 7 / span 4;
  //   }
  // }
}


footer {
  @include row;
  @include grid;
  background: $color-blue-medium;
  margin-top: $spacing-vertical-section;
  padding-top: $spacing-vertical-section;

  & > * {
    grid-column: 3/11;
  }

  ul {
    @include unstyled-list;
  }
}
