@use "normalize";
@use "vars" as *;
@use "mixins" as *;
@forward "base";

$spacing-vertical-section: $spacing-unit-8;
$spacing-vertical-section-small: $spacing-unit-6;
$spacing-horizontal-section: $spacing-unit-4;

section > h2 {
  margin-bottom: $spacing-unit-2;
  margin-top: 0;
}

section > * {
  grid-column: 2 / 12;

  @media (min-width: $breakpoint-desktop) {
    grid-column: 3 / 11;
  }
}

// sticky banner
section[aria-label="page title"] {
  @include row;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 2;

  & > * {
    background: $color-red;
    box-shadow: 3px 3px $color-gray;
    display: inline-block;
    line-height: 1.2;
    margin-block: 0;
    padding: $spacing-unit-1 $spacing-unit-2;
  }

  h1 {
    @include font-size-md();
  }

  @media (min-width: $breakpoint-tablet) {
    & > * {
      max-width: 18ex;
    }
  }
}

//hero
section[aria-label="hero"] {
  @include grid;
  @include row;
  align-items: center;
  background: $color-blue-dark;
  min-height: 400px;

  & > * {
    padding-top: $spacing-vertical-section-small;
  }

  @media (min-width: $breakpoint-mobile) {
    height: 70vh;
    min-height: 600px;
  }

  @media (min-width: $breakpoint-tablet) {
    height: 75vh;
  }

  @media (min-width: $breakpoint-desktop) {
    height: 85vh;
  }
}

// summary banner
$summary-padding-y: $spacing-unit * 1.5;
$summary-font-size: 1.125rem;
section[aria-label="personal summary"] {
  display: flex;
  grid-column: 2/12;
  justify-content: center;
  margin-block: $spacing-vertical-section-small;

  & > * {
    background: $color-yellow;
    box-shadow: 3px 3px $color-gray;
    display: inline;
    margin-block: 0;
    padding-block: $summary-padding-y;
    padding-inline: $spacing-unit-2;
    text-align: center;
  }

  @media (min-width: $breakpoint-mobile) {
    margin-top: calc(-#{$summary-padding-y} - (#{$summary-font-size} / 2));

    & > * {
      box-shadow: 3px 3px $color-yellow-light;
      font-size: $summary-font-size;
      padding: $summary-padding-y $spacing-unit-4;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: calc(-#{$summary-padding-y} - (1.5rem / 2));

    & > * {
      font-size: 1.25rem;
    }
  }
}

// job resume
section[aria-label="career highlights"] {
  @include row;
  @include grid;
   margin-block: $spacing-vertical-section;

   @media (max-width: $breakpoint-mobile) {
    margin-top: 0;
   }

  .job-card {
    @include grid(12);
    background: white;
    margin-top: $spacing-unit-2;
    margin-bottom: $spacing-unit-6;
    padding-block: $spacing-unit-6;

    & > * {
      grid-column: 2/12;
    }

    .tag {
      background: $color-blue-medium;
      color: $color-gray-light;
      display: inline-block;
      padding: $spacing-unit-05 $spacing-unit-2;
      margin-top: 0;
    }

    div {
      & > * {
        margin-block: $spacing-unit;
      }
    }

    &__button {
      @include banner-base;
      grid-column: 3 / 11;
      display: flex;
      justify-content: center;
    }

    &__cta {
      margin-top: $spacing-unit-2;

      button {
        margin-block: 0;
      }
    }

    &__body div {
      @include shadow-box;

      & > *:first-child {
        margin-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      @include grid(11);
      margin-bottom: $spacing-vertical-section;
      padding-block: $spacing-vertical-section;
    }

    &--one-item {
      @include row;
      box-shadow: 10px 10px $color-yellow-light;

      img {
        display: block;
      }

      @media (max-width: $breakpoint-desktop) {
        img {
          display: none;
        }

        .job-card__body {
          @include shadow-box;
        }
      }

      @media (min-width: $breakpoint-desktop) {
        box-shadow: 10px 10px $color-yellow-light;
        grid-column: 1 / 12;
        z-index: 1;

        img {
          grid-column: 3 / span 3;
          width: 100%;
        }

        .job-card__body {
          grid-column: 6 / span 5;
          margin-bottom: 0;
          margin-top: $spacing-unit-05;
          padding-left: $spacing-unit-4;
        }
      }
    }

    &--two-items {
      @include row;
      box-shadow: -10px 10px $color-yellow-light;

      @media (max-width: $breakpoint-desktop) {
        .job-card__body div:last-child {
          margin-top: $spacing-unit-4;
        }
      }

      @media (min-width: $breakpoint-desktop) {
        box-shadow: -10px 10px $color-yellow-light;
        grid-column: 2 / 13;

        .job-card__body {
          @include grid(11, 4);
          @include row;

          div {
            margin-top: $spacing-unit-2;
          }

          div:first-of-type {
            grid-column: 2 / span 4;
          }

          div:last-of-type {
            grid-column: 6 / span 4;
          }
        }
      }
    }
  }
}

// connecting practice areas
section[aria-label="breaking down silos"] {
  @include row;
  @include grid;
}

section[aria-label="contact"] {
  @include row;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  ul {
    @include unstyled-list;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: $spacing-unit-2;
    margin-bottom: $spacing-vertical-section;
  }

  a {
    @include button($color-blue-medium, $color-gray-light, $color-gray);
    font-size: 1.25rem;
    padding: $spacing-unit-2 $spacing-unit-4;
    margin-inline: $spacing-unit;
  }

  @media (min-width: $breakpoint-tablet) {
    ul {
      flex-direction: row;
    }
  }
}

// full resume
section[aria-label="resume"] {
  @include row;
  @include grid;

  background: $color-red;
  margin-top: $spacing-vertical-section;

  .resume__page {
    margin-top: $spacing-vertical-section;

    article {
      @include shadow-box;
      @include row;
      background: white;
      margin-bottom: $spacing-unit-4;
    }
  }

  h2,
  h3 {
    @include row;
  }

  h2 {
    margin-bottom: $spacing-unit-1;
  }

  h3 {
    @include font-size-lg;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  @media (max-width: $breakpoint-desktop) {
    h2 {
      @include shadow-box;
      background: white;
      margin-bottom: $spacing-unit-4;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    h2 {
      grid-column: 2/12;
      padding-top: $spacing-vertical-section;
    }
    h2,
    h3 {
      margin-bottom: $spacing-unit-2;
    }

    .resume__page {
      @include grid(10, 3);
      @include shadow-box();
      background: white;
      grid-column: 2/12;
      padding: 0;

      article {
        grid-column: 2/10;

        &.left {
          grid-column: 2/ 6;
        }

        &.right {
          grid-column: 6/ 10;
        }

        & > *:last-child {
          margin-bottom: 0;
        }
      }

      article[aria-label="technical skill"] {
        grid-row: 2/4;
      }
    }
  }

  @media (min-width: $breakpoint-widescreen) {
    .resume__page {
      grid-column: 3/11;
    }
  }
}

.practice-area {
  background: white;

  ul {
    padding-left: 0;
    margin: 0;
  }

  li {
    align-items: center;
    color: $color-blue-dark;
    display: inline-flex;
    font-family: $font-headline;
    font-size: 2.25rem;
    list-style: none;
    padding-bottom: 0;
  }

  li img {
    height: $spacing-unit-7;
    margin-inline: $spacing-unit;
  }

  & > * {
    padding-block: $spacing-vertical-section;
  }

  & > *:first-child {
    @include grid;
    @include row;
    background: $color-red;

    & > * {
      grid-column: 2/12;
    }
  }

  & > *:nth-child(2) {
    align-items: center;
    background: white;
    display: flex;
    grid-column: 2 / span 10;

    @media (min-width: $breakpoint-tablet) {
      grid-column: 7 / span 4;
    }
  }

  // @media (min-width: $breakpoint-tablet) {
  //   li {
  //     display: list-item;
  //     padding-left: $spacing-unit-4;
  //   }

  //   li img {
  //     display: block;
  //   }

  //   & > *:first-child {
  //     @include grid(6);
  //     grid-column: 1 / span 6;
  //     text-align: right;

  //     & > * {
  //       grid-column: 2 / span 6;
  //       padding-right: $spacing-unit-4;
  //     }
  //   }

  //   & > *:nth-child(2) {
  //     grid-column: 7 / span 4;
  //   }
  // }
}

footer {
  @include row;
  @include grid;
  background: $color-blue-medium;
  margin-top: $spacing-vertical-section;
  padding-top: $spacing-vertical-section;

  & > * {
    grid-column: 3/11;
  }

  ul {
    @include unstyled-list;
  }
}
