@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rammetto+One&display=swap");
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background: #fcf7f3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
}

.grid-row {
  grid-column: 1/13;
}

a:visited, a:active {
  color: #383b85;
}
a:hover {
  color: black;
}

p,
li,
h4,
h5,
h6 {
  line-height: 1.4;
  max-width: 80ex;
}

p,
ul li {
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

ul {
  padding-left: calc(8px * 3);
}

ul li {
  padding-block: calc(8px * 0.5);
}

h2 {
  color: #1a1b37;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1.3;
}
@media (min-width: 600px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  color: #1a1b37;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.3;
  color: #1a1b37;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  color: #1a1b37;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
}

.font-size-xl {
  color: #1a1b37;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1.3;
}
@media (min-width: 600px) {
  .font-size-xl {
    font-size: 1.75rem;
  }
}

.font-size-2xl {
  color: #fbd59f;
  font-family: "Rammetto One", sans-serif;
  font-size: 5vw;
  margin-block: 8px;
  max-width: 44ex;
  text-shadow: #1a1b37 6px 6px;
}

.font-size-3xl {
  text-shadow: #e82822 6px 6px;
  font-family: "Rammetto One", sans-serif;
  font-size: 8vw;
  line-height: 1.2;
  color: #fbd59f;
  grid-column: 2/12;
  max-width: 44ex;
}
@media (max-width: 900px) {
  .font-size-3xl {
    font-size: 3rem;
    text-shadow: #e82822 3px 3px;
  }
}
@media (min-width: 600px) {
  .font-size-3xl {
    font-size: 8.5vw;
  }
}
@media (max-height: 600px) and (min-width: 900px) {
  .font-size-3xl {
    font-size: 7.5vw;
  }
}
@media (min-width: 900px) {
  .font-size-3xl {
    font-size: 8vw;
  }
}
@media (min-width: 1200px) {
  .font-size-3xl {
    font-size: 7vw;
    grid-column: 3/11;
  }
}
@media (min-width: 1800px) {
  .font-size-3xl {
    font-size: 6.5vw;
    grid-column: 3/11;
  }
}
@media (max-height: 600px) and (min-width: 1200px) {
  .font-size-3xl {
    font-size: 6vw;
  }
}

.button {
  background-color: white;
  border: 1px solid #686765;
  box-shadow: #686765 3px 3px;
  display: inline-block;
  font-weight: 500;
  margin-top: calc(8px * 2) !important;
  padding: calc(8px * 1) calc(8px * 3);
  text-decoration: none;
}
.button, .button:visited, .button:active {
  color: #1a1b37;
}

section > h2 {
  margin-bottom: calc(8px * 2);
  margin-top: 0;
}

section > * {
  grid-column: 2/12;
}
@media (min-width: 1200px) {
  section > * {
    grid-column: 3/11;
  }
}

section[aria-label="page title"] {
  grid-column: 1/13;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 2;
}
section[aria-label="page title"] > * {
  background: #e82822;
  box-shadow: 3px 3px #424242;
  display: inline-block;
  line-height: 1.2;
  margin-block: 0;
  padding: calc(8px * 1) calc(8px * 2);
}
section[aria-label="page title"] h1 {
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
@media (min-width: 900px) {
  section[aria-label="page title"] > * {
    max-width: 18ex;
  }
}

section[aria-label=hero] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  grid-column: 1/13;
  align-items: center;
  background: #1a1b37;
  min-height: 400px;
}
section[aria-label=hero] > * {
  padding-top: calc(8px * 6);
}
@media (min-width: 600px) {
  section[aria-label=hero] {
    height: 70vh;
    min-height: 600px;
  }
}
@media (min-width: 900px) {
  section[aria-label=hero] {
    height: 75vh;
  }
}
@media (min-width: 1200px) {
  section[aria-label=hero] {
    height: 85vh;
  }
}

section[aria-label="personal summary"] {
  display: flex;
  grid-column: 2/12;
  justify-content: center;
  margin-block: calc(8px * 6);
}
section[aria-label="personal summary"] > * {
  background: #ffbb32;
  box-shadow: 3px 3px #424242;
  display: inline;
  margin-block: 0;
  padding-block: 12px;
  padding-inline: calc(8px * 2);
  text-align: center;
}
@media (min-width: 600px) {
  section[aria-label="personal summary"] {
    margin-top: calc(-12px - 1.125rem / 2);
  }
  section[aria-label="personal summary"] > * {
    box-shadow: 3px 3px #fbd59f;
    font-size: 1.125rem;
    padding: 12px calc(8px * 4);
  }
}

section[aria-label="career highlights"] {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  margin-bottom: 0;
}
@media (min-width: 600px) {
  section[aria-label="career highlights"] {
    margin-block: calc(8px * 8);
  }
}
section[aria-label="career highlights"] .job-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  background: white;
  margin-top: calc(8px * 2);
  margin-bottom: calc(8px * 6);
  padding-block: calc(8px * 6);
}
section[aria-label="career highlights"] .job-card > * {
  grid-column: 2/12;
}
section[aria-label="career highlights"] .job-card .tag {
  background: #383b85;
  color: #fcf7f3;
  display: inline-block;
  padding: calc(8px * 0.5) calc(8px * 2);
  margin-top: 0;
}
section[aria-label="career highlights"] .job-card div > * {
  margin-block: 8px;
}
section[aria-label="career highlights"] .job-card__button {
  font-family: "Bricolage Grotesque", sans-serif;
  margin-block: 0;
  padding-block: calc(8px * 1);
  padding-inline: calc(8px * 2);
  grid-column: 3/11;
  display: flex;
  justify-content: center;
}
@media (min-width: 900px) {
  section[aria-label="career highlights"] .job-card__button {
    font-size: 1.125rem;
    padding-block: calc(8px * 2);
    padding-inline: calc(8px * 4);
  }
}
section[aria-label="career highlights"] .job-card__cta {
  margin-top: calc(8px * 2);
}
section[aria-label="career highlights"] .job-card__cta button {
  margin-block: 0;
}
section[aria-label="career highlights"] .job-card__body div {
  border: 1px solid #424242;
  box-shadow: #424242 6px 6px;
  padding: calc(8px * 4);
}
section[aria-label="career highlights"] .job-card__body div > *:first-child {
  margin-top: 0;
}
section[aria-label="career highlights"] .job-card__body div > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  section[aria-label="career highlights"] .job-card {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 8px;
    margin-bottom: calc(8px * 8);
    padding-block: calc(8px * 8);
  }
}
section[aria-label="career highlights"] .job-card--one-item {
  grid-column: 1/13;
  box-shadow: 10px 10px #fbd59f;
}
section[aria-label="career highlights"] .job-card--one-item img {
  display: block;
}
@media (max-width: 1200px) {
  section[aria-label="career highlights"] .job-card--one-item img {
    display: none;
  }
  section[aria-label="career highlights"] .job-card--one-item .job-card__body {
    border: 1px solid #424242;
    box-shadow: #424242 6px 6px;
    padding: calc(8px * 4);
  }
}
@media (min-width: 1200px) {
  section[aria-label="career highlights"] .job-card--one-item {
    box-shadow: 10px 10px #fbd59f;
    grid-column: 1/12;
    z-index: 1;
  }
  section[aria-label="career highlights"] .job-card--one-item img {
    grid-column: 3/span 3;
    width: 100%;
  }
  section[aria-label="career highlights"] .job-card--one-item .job-card__body {
    grid-column: 6/span 5;
    margin-bottom: 0;
    margin-top: calc(8px * 0.5);
    padding-left: calc(8px * 4);
  }
}
section[aria-label="career highlights"] .job-card--two-items {
  grid-column: 1/13;
  box-shadow: -10px 10px #fbd59f;
}
@media (max-width: 1200px) {
  section[aria-label="career highlights"] .job-card--two-items .job-card__body div:last-child {
    margin-top: calc(8px * 4);
  }
}
@media (min-width: 1200px) {
  section[aria-label="career highlights"] .job-card--two-items {
    box-shadow: -10px 10px #fbd59f;
    grid-column: 2/13;
  }
  section[aria-label="career highlights"] .job-card--two-items .job-card__body {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 32px;
    grid-column: 1/13;
  }
  section[aria-label="career highlights"] .job-card--two-items .job-card__body div {
    margin-top: calc(8px * 2);
  }
  section[aria-label="career highlights"] .job-card--two-items .job-card__body div:first-of-type {
    grid-column: 2/span 4;
  }
  section[aria-label="career highlights"] .job-card--two-items .job-card__body div:last-of-type {
    grid-column: 6/span 4;
  }
}

section[aria-label="breaking down silos"] {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
}

section[aria-label=contact] {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section[aria-label=contact] h2 {
  text-align: center;
  margin-top: 0;
}
section[aria-label=contact] ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(8px * 2);
  margin-bottom: calc(8px * 8);
}
section[aria-label=contact] a {
  background-color: #383b85;
  border: 1px solid #424242;
  box-shadow: #424242 3px 3px;
  display: inline-block;
  font-weight: 500;
  margin-top: calc(8px * 2) !important;
  padding: calc(8px * 1) calc(8px * 3);
  text-decoration: none;
  font-size: 1.25rem;
  padding: calc(8px * 2) calc(8px * 4);
  margin-inline: 8px;
}
section[aria-label=contact] a, section[aria-label=contact] a:visited, section[aria-label=contact] a:active {
  color: #fcf7f3;
}
@media (min-width: 900px) {
  section[aria-label=contact] ul {
    flex-direction: row;
  }
}

section[aria-label=resume] {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  background: #e82822;
  margin-top: calc(8px * 8);
}
section[aria-label=resume] > div {
  margin-top: calc(8px * 8);
  grid-column: 2/12;
}
section[aria-label=resume] > div article {
  border: 1px solid #424242;
  box-shadow: #424242 6px 6px;
  padding: calc(8px * 4);
  grid-column: 1/13;
  background: white;
  margin-bottom: calc(8px * 4);
}
section[aria-label=resume] h2,
section[aria-label=resume] h3 {
  grid-column: 1/13;
}
section[aria-label=resume] h2 {
  margin-bottom: calc(8px * 1);
}
section[aria-label=resume] h3 {
  color: #1a1b37;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.3;
  margin-bottom: 0;
}
section[aria-label=resume] h2,
section[aria-label=resume] h3,
section[aria-label=resume] h4 {
  margin-top: 0;
}
@media (min-width: 1200px) {
  section[aria-label=resume] h2, section[aria-label=resume] h3 {
    margin-bottom: calc(8px * 2);
  }
  section[aria-label=resume] > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 24px;
    border: 1px solid #424242;
    box-shadow: #424242 6px 6px;
    padding: calc(8px * 4);
    background: white;
    grid-column: 3/11;
    padding: calc(8px * 8);
  }
  section[aria-label=resume] > div article:first-of-type {
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.practice-area {
  background: white;
}
.practice-area ul {
  padding-left: 0;
  margin: 0;
}
.practice-area li {
  align-items: center;
  color: #1a1b37;
  display: inline-flex;
  font-family: "Rammetto One", sans-serif;
  font-size: 2.25rem;
  list-style: none;
  padding-bottom: 0;
}
.practice-area li img {
  height: calc(8px * 7);
  margin-inline: 8px;
}
.practice-area > * {
  padding-block: calc(8px * 8);
}
.practice-area > *:first-child {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  grid-column: 1/13;
  background: #e82822;
}
.practice-area > *:first-child > * {
  grid-column: 2/12;
}
.practice-area > *:nth-child(2) {
  align-items: center;
  background: white;
  display: flex;
  grid-column: 2/span 10;
}
@media (min-width: 900px) {
  .practice-area > *:nth-child(2) {
    grid-column: 7/span 4;
  }
}

footer {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  background: #383b85;
  margin-top: calc(8px * 8);
  padding-top: calc(8px * 8);
}
footer > * {
  grid-column: 3/11;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}