<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="Specializing in design systems and accessibility."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZG50Y6GFT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VZG50Y6GFT');
  </script>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
